#map {    

    margin-left: 230px;
    
}
#tl {
  font-size: 80px;
}
#topr {    
    margin-left: 50px;
}

button {
    margin-right: 10px;
    font-size: 30px;
    height: 55px;
    width: 105px;
}

input{
    height: 55px;
    width: 280;
    font-size: 40px;

}
h2 {
    font-size: 20px;
}
#logo {
    height: 120px;
    width: 150px;

}
h5 {
    font-size: 20px;
}
#body > h4 {
    margin-left: 90px;

    width: 300px;
}
h4 > span {
font-size: 40px;
}
#abc{
    width: 300px;

}