
body {
   background-color:rgba(100, 95, 27, 0.36);
    background-position: center;
    background-size: cover;
    
   }
   #logo {
    height: 100px;
    width: 100px;
}
#logotl {
    display: flex;
    font-family: "Papyrus", fantasy;
    font-size: 1.2cm;
    text-align: left;  
}
#abc {
    width: 5cm;
    border-top-left-radius: 0.4cm;
    border-top-right-radius: 0.4cm;
}
#top {
    
    background-color:  rgba(45, 45, 29, 0.208);
    
}
input {
    width: 225;
    height: 35;
    margin-left: 0.2cm;
}
button {
    height: 35;
}

#topr {
    
    margin-left: 956;
   margin-top: 30;
}
h4 {
    width: 5cm;
}
h2 {
    font-size: 15px;
}


#body > h4 {
    border-color: rgba(8, 16, 30, 0.796);

    border-width: 0.09cm;
    border-style: solid;
    display: none;
    border-top-left-radius: 0.4cm;
    border-top-right-radius: 0.4cm;
    border-bottom-left-radius: 0.4cm;
    border-bottom-right-radius: 0.4cm;
    background-color: #e9d1d1fb;
    font-size: 20px;
    margin: 5.5%;
    }

#map {
        margin-left: 500px;
    }
h5 {
        color: rgba(16, 51, 48, 0.536);
    }
#imgg1 {
        border-top-left-radius: 0.4cm;
        border-top-right-radius: 0.4cm; 
    }

